name: Dependabot automerge

on:
  pull_request_target:
    branches: [main]
  workflow_dispatch:

jobs:
  dependabot-automerge:
    uses: leynos/shared-actions/.github/workflows/dependabot-automerge.yml@235d2d07b9a321364a742310873f6732d7228e72
    permissions:
      contents: write
      pull-requests: write
